.formStyle{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    max-width: 300px;
}

.textStyle{
    margin: 5px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
}

.inputStyle{
    margin: 4px;
    width: 200px;
}

.culculateButtonStyle{
    margin: 5px -9px;
    padding: 0px 10px;
}

.clearButtonStyle{
    margin: 5px -6px;
    margin-right: 4.5px;
    padding: 0px 10px;
}

input, form, div, button{
    /* border: 2px solid red; */
}

.limitInputStyle{
    order: 0;
    align-self: flex-end;
    max-width: 40px;
    /* margin: 5px 0px; */
    margin-bottom: 7px;
    margin-left: 0.5px;
}
